.header__square-pic {
    position: absolute;
    bottom: 5vw;
    right: 0;
    background-color: #2f80ed;
    height: 44vw;
    width: 44vw;
    transform: rotate(-15deg); 
  }

@media screen and (max-width: 350px) {
  .header__square-pic {
    height: 200px;
    width: 200px;
    bottom: 15px;
    right: -30px;
  }
}