.description {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  @media screen and (max-width: 730px) {
    .description {
      padding-top: 80px;
    }
  }

  @media screen and (max-width: 500px) {
    .description {
      padding-top: 50px;
    }
  }