.video__iframes {
    margin: 50px auto -45px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px;
    grid-gap: 30px;
    max-width: 1280px;  
}

@media screen and (max-width:1280px) {
    .video__iframes {
        grid-template-rows: 22vw;
        max-width: 90%;
    }
}

@media screen and (max-width:1024px) {
    .video__iframes {
        margin: 50px auto -45px auto;
        grid-template-rows: 20vw;
    }
}

@media screen and (max-width:780px) {
    .video__iframes {
        margin: 50px auto -45px auto;
        width: 60vw;
        grid-template-columns: 1fr;
        grid-template-rows: 70vw 70vw;
    }
}

@media screen and (max-width:500px) {
    .video__iframes {
        margin: 30px auto -45px auto;
        width: 70vw; 
    }
}