.logo_place_footer {
    display: block;
    width: 138px;
  }


  @media screen and (max-width:650px) {
    .logo_place_footer {
      position: absolute;
      left: 16px;
      top: 16px;
    }
  } 