.feinman__link {
    font-weight: normal;
    font-size: 36px;
    line-height: 1.4;
    position: absolute;
    right: 48px;
    top: 90%;
    text-decoration: none;
    color: #000000;
  }
  
  .feinman__link:hover {
    opacity: .5;
    transition: .5s ease-in-out;
  }

  @media screen and (max-width:1024px) {
    .feinman__link {
        font-size: 2.5vw;
    }
  }