.table__cell_theme_dark {
    max-width: 200px;
    color: white;
    margin: 60px auto 0 auto;
  }

  @media screen and (max-width: 1024px) {
    .table__cell_theme_dark {
      width: 21.5vw;
      margin: 40px auto 0 auto;;
    }
  }

  @media screen and (max-width: 780px) {
    .table__cell_theme_dark {
      margin: 25px auto 0 auto;;
    }
  }

  @media screen and (max-width: 500px) {
    .table__cell_theme_dark {
      width: 100%;
    }
  }