.table__cell_theme_dark {
    max-width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }

  @media screen and (max-width: 1024px) {
    .table__cell_theme_dark {
      max-width: 17.6vw;
      padding-left: 10px;
    }
  }