.cards__item {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    /* text-align: center; */
}

/* .cards__item:nth-child(3n) {
    margin-right: 0;
} */


/* @media screen and (max-width: 1024px) {
    .cards__item {
        margin: 16px 40px;
        max-width: 24%;
        

    }
}

@media screen and (max-width: 780px) {
    .cards__item {
        margin: 16px 20px;
        max-width: 27%;
    }
} */