@import url(./__cell/table__cell.css);
@import url(./__cell_theme/table__cell_theme_dark.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);

.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 70px auto 100px auto;
  max-width: 80%;
  grid-column-gap: 30px;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .table {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .table {
    padding: 0 20px;
    margin: 50px auto 70px auto;
    max-width: 1000px;
  }
}

@media screen and (max-width: 780px) {
  .table {
    padding: 0 20px;
    margin: 30px auto 50px auto;
    
  }
}

@media screen and (max-width: 500px) {
  .table {
    padding: 0 20px;
    margin: 20px auto 50px auto;
    padding: 0 16px;
  }
}

