.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 877px; 
    width: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 100;
    overflow: visible;
  }

  @media screen and (max-width: 780px) {
    .kaufman__triangle {
      height: 789px; 
      width: 789px;
    }
  }

  @media screen and (max-width: 550px) {
    .kaufman__triangle {
      height: 613px; 
      width: 613px;
    }
  }
  