.two-columns__brief {
    max-width: 175px;
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
    font-weight: normal;
  }


@media screen and (max-width: 780px) {
  .two-columns__brief {
    padding-bottom: 2rem;
    font-size: 16px;
  }
}