.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: left top;
    
}

@media screen and (max-width: 1024px) {
    .khan__book-pic {
        width: 61vw;
        height: 59vw;
        margin-right: 4.7vw;
    }
  }
  
 